<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li id="Utilization" class="Rmv">
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="icon-Gear-2"></i>
                                <span class="hide-menu">Utilization</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li id="Menu" class="Rmv"><a id="linkmenu" href="/menu">Menu</a></li>
                                <li id="Role" class="Rmv"><a id="linkrole" href="/role">Role </a></li>
                                <li id="Access" class="Rmv"><a id="linkaccess" href="/access">Access</a></li>
                                <li id="User" class="Rmv"><a id="linkuser" href="/user">User</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class=" waves-effect waves-dark" href="/dashboard" aria-expanded="false">
                                <i class="icon-Home-5"></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                        <li id="Master" class="Rmv">
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="icon-Big-Data"></i>
                                <span class="hide-menu">Master</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li id="Customer" class="Rmv"><a id="linkcustomer" href="/customer">Customer</a></li>
                                <li id="Team" class="Rmv"><a id="linkteam" href="/team">Team</a></li>
                                <li id="Schedule" class="Rmv"><a id="linkschedule" href="/schedule">Schedule</a></li>
                            </ul>
                        </li>
                        <li id="Tools" class="Rmv">
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="icon-Tablet"></i>
                                <span class="hide-menu">Booking</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li id="addbooking" class="Rmv"><a id="linkaddbooking" href="/booking/add">Add Booking Manual</a></li>
                                <li id="listbooking" class="Rmv"><a id="linkbooking" href="/booking/add">List Booking</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</aside>

